/* From Uiverse.io by creator1116 */ 
@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 10em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}
.loader{
    background: rgba(0, 0, 0, 0.473); 
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
}
.terminal-loader {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  width: 12em;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid rgb(207, 189, 189); 
  animation: typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}
