.checkOtp{
    background: rgba(0, 0, 0, 0.473); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formOTP {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 360px;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: black
}

.message {
  color: #a3a3a3;
  font-size: 14px;
  margin-top: 4px;
  text-align: center
}

.inputsOTP {
  margin-top: 10px
}

.inputsOTP input {
  width: 32px;
  height: 32px;
  text-align: center;
  border: none;
  border-bottom: 1.5px solid #d2d2d2;
  margin: 0 10px;
  background-color: transparent;
  color: black;
}

.inputsOTP input:focus {
  border-bottom: 1.5px solid royalblue;
  outline: none;
}

.action {
  margin-top: 24px;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  align-self: end;
}
.cancelOtp {
  background-color: red;
  color: white;
}

@media (max-width: 365px) {
    .formOTP{
        width: 100%;
    }
}