@import '../../theme/colors.css';
.home{
    height: calc(100vh - 25px);
    color: white;
    position: relative;
    width: calc(100vw - 130px);
    overflow: hidden;
    display: flex;


}
.homeProduct {
    width: 79%;
    background-image: url('../../assets/images/home-background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    margin-right: 20px;
    padding: 15px;

}

.home .homeProduct .linksHome .linkHome{
    border: 1px solid white;
    padding: 5px 8px;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
    display: inline-block;
}
.home .homeProduct .linksHome .linkHome:hover{
    background-color: var(--background2-color);
    transform: scale(1.1);
    border-color: var(--background2-color);
}
.home .homeProduct .nameBrand h1{
    font-size: 35px;
    font-weight: 300;
    position: relative;
    z-index: 2;
    
}
.home .homeProduct .nameBrand h1::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    height: 90px;
    width: 450px;
    background-color: var(--background-color);
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    z-index: -1;
}

.home .homeProduct .buttonNav .button{
    font-size: 40px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
}


.home .homeProduct .downContent{
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.home .homeProduct .downContent .card-content{
    background-color: var(--background2-color);
    border: none;
    border-radius: 20px;
    box-shadow: 4px -8px 0px 20px var(--background-color);
}
.home .homeProduct .downContent .card-content .btn-shop{
    background-color: white;
    color: var(--background2-color);
    transition: all 0.5s ease-in-out;

}
.home .homeProduct .downContent .card-content .btn-shop:hover{
    background-color: rgba(255, 255, 255, 0.644);
}
.home .homeProduct .downContent .card-content .btn-shop svg{
    transition: all 0.5s ease-in-out;
}
.home .homeProduct .downContent .card-content .btn-shop:hover svg{
    transform: translateX(10px);
    
}
.home .homeContent{
    width: 20%;
}
.home .homeContent .card-content{
    background-color: var(--background2-color);
    border: none;
    border-radius: 20px;
    overflow: auto;
}
.home .homeContent .first-card{
    position: relative;
}
.home .homeContent .first-card img{
    position: absolute;
    bottom: 0;
    left: 0;

}
.home .homeContent .first-card .content{
    position: absolute;
    top: 20px;


}