@import '../../theme/colors.css';

.home{
    height: calc(100vh - 25px);
    color: var(--icon-color);
    position: relative;
    width: calc(100vw - 130px);
    overflow: hidden;
    display: flex;


}
.homeProduct {
    width: 79%;
    border-radius: 20px;
    margin-right: 20px;
    padding: 15px;
    position: relative;

}

.home .homeProduct .linksHome .linkHome{
    font-size: 20px;
    border-radius: 50%;
}
.home .homeProduct .nameBrand h1{
    font-size: 35px;
    font-weight: 300;
    position: relative;
    z-index: 2;
    
}
.home .homeProduct .nameBrand h1::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    height: 180%;
    width: 250%;
    background-color: var(--background-color);
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    z-index: -1;
}

.home .homeProduct .buttonNav .button{
    font-size: 40px;
    border: 1px solid var(--icon-color);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.home .homeProduct .downContent{
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.home .homeProduct .downContent .card-content-home{
    background-color: var(--background2-color);
    border: none;
    border-radius: 20px;
    box-shadow: 4px -8px 0px 20px #1e1e1eab;
}
.home .homeProduct .downContent .card-content-home .btn-shop{
    background-color: var(--icon-color);
    color: var(--background2-color);
    transition: all 0.5s ease-in-out;

}
.home .homeProduct .downContent .card-content-home .btn-shop:hover{
    background-color: rgba(255, 255, 255, 0.644);
}
.home .homeProduct .downContent .card-content-home .btn-shop svg{
    transition: all 0.5s ease-in-out;
}
.home .homeProduct .downContent .card-content-home .btn-shop:hover svg{
    transform: translateX(10px);
    
}
.home .homeContent{
    width: 22%;
}
.home .homeContent .card-content-home{
    background-color: var(--background2-color);
    border: none;
    border-radius: 20px;
    overflow: auto;
}
.home .homeContent .first-card{
    position: relative;
}
.home .homeContent .first-card img{
    position: absolute;
    bottom: 0;
    left: 0;

}
.home .homeContent .first-card .content{
    position: absolute;
    top: 20px;


}

@media(max-width: 1023px) {
    .home {
        display: flex;              
        flex-direction: column;     
        width: 100%;
        margin: 0;
        padding: 0;
        height: fit-content;
    }
    .home .homeProduct {
        width: 100%;
        margin-right: 0;
        height: 100vh;
        
    }
    .home .homeProduct .nameBrand h1{
        font-size: 25px;
        font-weight: 300;
    }

    .home .homeContent {
        width: 100%;  
        margin-top: 20px; 
        display: flex;
        justify-content: space-between;
        
    }
    .home .homeContent .card-content-home {
        height: 400px !important;
        max-width: 45% !important;
        margin: 0 auto;
    }
    
}
@media(max-width: 538px) {
    .home .homeProduct{
        height: 70vh;
    }
    .home .homeProduct .downContent {
        bottom: -195px;
    }
    .home .homeProduct .downContent .card-content-home {
        max-width: 100% !important;
        box-shadow: none;
        border-radius: 45px;
        padding-bottom: 10px;
    }
    .home .homeContent {
        margin-top: 220px;
        flex-direction: column;
    }
    .home .homeContent .card-content-home{
        max-width: 100% !important;
        margin-bottom: 20px;
    }
}

@media(max-width: 480px) {
      .home .homeProduct .nameBrand h1{
        font-size: 24px;
    }
    .home .homeProduct .nameBrand h1::before {
        content: '';
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        height: 180%;
        width: 220%;
        background-color: var(--background-color);
        border-bottom-left-radius: 250px;
        border-bottom-right-radius: 250px;
        z-index: -1;
    }
}

