@import '../../theme/colors.css';



.navbar{
    position: fixed;
    height: calc(100% - 20px);
    width: 80px;
    background-color: var(--background2-color);
    border-radius: 20px;
    box-shadow: 0px 0px 8px 12px rgba(0, 0, 0, 0.1);
}

.icon{
    color: white;
    font-size: 25px;
    margin: auto;
    margin-bottom: 65px;
    text-align: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    padding: 5px;
}
.icon.active,
.icon:hover{
    background-color: aliceblue;
    color: black;
    padding: 5px;
    transform: scale(1.2);
}