@import '../../theme/colors.css';



.navbar{
    position: fixed;
    height: calc(100% - 20px);
    width: 80px;
    background-color: var(--background2-color);
    border-radius: 20px;
    box-shadow: 0px 0px 8px 12px rgba(0, 0, 0, 0.1);
    z-index: 30;
}

.navbar .icon{
    color: white;
    font-size: 25px;
    margin: auto;
    margin-bottom: 65px;
    text-align: center;
    align-items: center;
    transition: all 0.5s ease-in-out ;
    /* transition-delay: 0s !important; */
    border-radius: 50%;
    padding: 5px;
    position: relative;
}
.navbar .icon h6{
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: -1;
    transform: translatey(-50%);
    font-size: 15px;
    color: white;
    background: #4e4e4e;
    padding: 8px 12px;
    border-radius: 5px;
    margin-left: 10px;    
    opacity: 0;
    visibility: hidden;
    transition: all 0.9s ease-in-out;
}
.navbar .icon h6::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -11px;
    transform: translateY(-50%);
    border: 6px solid transparent;
    border-right-color: #4e4e4e;
}
.navbar .icon:hover h6{
    opacity: 1;
    visibility: visible;
    left: 100%;
}
.navbar .icon.active,
.navbar .icon:hover{
    background-color: aliceblue;
    color: black;
    padding: 5px;
    transform: scale(1.2);
    transition-delay: 0s !important;
}

@media(max-width: 1023px) {
    .navbar {
        display: none;
    }
    
}