@import './theme/colors.css';
@font-face {
  font-family: 'Azonix'; /* or 'Aexir' */
  src: url('./assets/fonts/Azonix.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
*{
    box-sizing: border-box;
}

ul {
    list-style: none;
}
ol {
    list-style: none;
}
p{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    border: none;
    box-shadow: none;
}
body{
    font-family: 'Azonix', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--background-color);
    color: white;
    padding: 10px 10px;
    display: flex;
}
.pages {
    margin-left: 105px;
    width: 100%;
}

@media(max-width: 1023px) {
    .pages {
        margin-left: 0px;
        width: 100%;

    }
    
}



.disabled-link {
  pointer-events: none;
  color: gray;
  cursor: not-allowed;
  text-decoration: none;
}

::-webkit-scrollbar {
    width: 7px;
    position: relative;
    z-index: 99;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: white; 
  border-radius: 5px;
  transition: all 0.5s;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(216, 214, 214); 
}